body {
    font-family: Roboto, sans-serif;
    background-color: rgb(214, 241, 232);
    margin: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}
.gameChoices {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    text-align: center;
    
}

.scoreArea {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;

}
.playerScore, .cpuScore {
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    padding: 10px;
}
.fightArea {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.winArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px;
    font-size: 30px;

}
button {
    margin-top: 30px;
    font-size: 10px;
    color: darkgreen;
}
.header {
    display: flex;
    text-align: center;
    align-items: center;
    color: darkgoldenrod;
    font-size: 30px;
    padding: 20px;
    justify-content: center;
    background: rgb(38, 38, 95);

}
.gameChoices img {
    height: 300px;
    width: auto;
}
